
/* --- Styles From Blog Page --- */

/* Blog Post Styles */

.blog_posts{
    min-height: calc(100vh - 380px);
}

.post{
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}

.post img{
    width: 42%;
    height: 700px;
    height: 37vw;
    object-fit: cover;
}

.blog-info{
    width: 50%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-info .title{
    font-size: 80px;
    font-size: 4vw;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Noto Serif Display', serif; */
    font-family: 'Noto Serif Telugu', serif;
    /* font-family: 'PT Serif', serif; */
    /* font-family: 'Source Serif Pro', serif; */

}

.blog-info .description{
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 0.1mm;
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
}

.blog-info .read{
    margin-top: 30px;
    color: rgba(31, 110, 67, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-decoration: none;
}

.post img{
    transform: translateY(-10px);
    transition: all 1s;
    opacity: 0;
    filter: blur(5);
    border: 1px solid rgba(255,255,255,0.9);
    box-shadow: 0px 0px 5px 5px rgba(40,105,69,0.1);
}

.post .blog-info *{
    transform: translateY(-10px);
    transition: all 1s;
    opacity: 0;
    filter: blur(5);
}

.post .blog-info .description{
    transition-delay: 0.2s;
}

.post .blog-info .read{
    transition-delay: 0.3s;
}

.post.show img, .post.show .blog-info *{
    filter: blur(0);
    transform: translate(0);
    opacity: 1;
}

@media (max-width: 1000px) {
    .post{
        flex-direction: column;

    }

    .post img{
        width: 100%;
        height: auto;
        
    }

    .post .blog-info{
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    .post .blog-info .title{
        font-size: 40px;
    }
}


