/* --- Styles for categories page --- */


/* Style for category container */
.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: clamp(10vh,40vw,600px);
    grid-auto-rows: 200px;
    grid-gap:60px;
    margin-bottom: 40px;
    margin-top: 40px;
    min-height: calc(100vh - 525px);
}

/* Style for each category */
.category{
    width: 100%;
    height: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
/*     border: 2px solid rgba(255,255,255,0.9); */
/*     box-shadow: 0px 0px 10px 10px rgba(40,105,69,0.1); */
    
    overflow: hidden;
    position: relative;
    filter: blur(5);
    transform: translateX(-5px);
    opacity: 0;
    transition: all 1s;
    position: relative;
    text-align: center;
}


@media (max-width: 1300px) {
    .categories{
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 50px; */
    }
}

@media (max-width: 800px) {
    .categories{
        grid-template-columns: 1fr;
        grid-gap: 30px;
        font-size: 18px;
    }
}



.category img{
    object-fit: cover;
    position: absolute;
    max-height: 100%;
    min-width: calc(100% + 20px);
    min-height: 100%;
    opacity: 0.6;
}

.category .title{
    position: absolute;
    width: 90%;
    padding: 5%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: rgba(255,255,255,0.8);
    font-size: clamp(20px, 1.4vw ,26px);
    background: rgba(0,0,0,0.4);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3mm;
    position: relative;
    flex-direction: column;
    text-align: left;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.4) 27%, rgba(0,0,0,0) 100%);
    transition: background 1s ease;
}

.category:hover{
    cursor: pointer;
}

.category:hover .title{
 background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.5) 27%, rgba(0,0,0,0) 100%);
}

@media (hover: none){
    .category .title::after{
        width: 120%;
    }
}

@media (max-width: 800px) {
    .categories{
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

.title{
    transform: translateY(-10px);
    transition: 1s;
    filter: blur(2px);
    opacity: 0;
}

.show{
    filter: blur(0);
    transform: translate(0);
    opacity: 1;
}
