
/* Modal Styles */

.modalCover{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    background: rgba(0,0,0,0.3);
    transform: translateY(-20px);
    transition: 1s;
}

.modalCover.active{
    display: block;
    transform: translateY(0px);
}

.modal{
    position: absolute;
    height: auto;
    left: 50%;
    top: calc(50% + 10px);
    border-radius: 5px;
    transform: translate(-50%,-50%);
    min-height: 300px;
    max-height: 90vh;
    padding-right: 10px;
    overflow-x: hidden;
    width: 800px;
    max-width: 90vw;
    background: rgb(231,229,231);
    border: 1px solid rgba(0,0,0,0.1);
    /* box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1); */
    font-family: 'Montserrat', sans-serif;
    z-index: -100;
    opacity: 0;
    transform: translate(-50%,calc(-50% + 100px));
    transition: transform 1s;
    filter: blur(2px);
    background-image: url('../images/forest.jpg');
    background-position: center 48%;
}

.modal.active{
    z-index: 100;
    opacity: 1;
    filter: blur(0);
    transform: translate(-50%,-50%);
    transition: transform 0.6s, blur 0.6s, opacity 0.6s;
}

.modal.active ~ .desk, .modal.active ~ .navStuff{
    filter: blur(2px);
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}

.modal .close{
    position: absolute;
}


.modal-close {
    color: rgba(140,140,140);
    line-height: 30px;
    position: absolute;
    right: 8px;
    text-align: center;
    top: 8px;
    width: 30px;
    text-decoration: none;
}

.modal-close:hover{
    color: rgb(40,105,69);
    cursor: pointer;
}

.modalContent{
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal .seperator{
    width: 100%;
    margin-left: 0;
}

.modalBody{
    width: 100%;
    height: auto;
    overflow-y: scroll;
    min-height: 35px;
    max-height: 100vh - 380px; /* Fallback for browsers that do not support Custom Properties */
    max-height: calc((var(--vh, 1vh) * 100) - 380px);
    padding-right: 20px;
    overflow-x: hidden;
}


.modalButtons{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:right ;
    align-items: center;
    flex-direction: row-reverse;
}

.modalButton{
    /* float: right; */
    border-radius: 5px;
    height: 100%;
    padding-inline: 30px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgba(90,90,90,1);
    font-size: 20px;
    color: rgba(255,255,255,1);
    transition: transform 0.3s;
    border: 1px solid transparent;
    margin-left: 20px;
    transition: width 1s, background 0.3s;
}

.modalButton.hide{
    height: 0px;
    overflow: hidden;
    border: none;
}

.modalButton.complete{
    background: rgba(40,105,69,0.8) !important;
}

.modalButton i{
    font-size: 17px;
    margin-left: 8px;
    margin-top: 2px;
}

.modalButton:hover{
    cursor: pointer;
    background: rgba(110,110,110)
}

.modalBody::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}


.modalBody::-webkit-scrollbar-track {
    background-color: rgb(0,0,0,0.1);        /* color of the tracking area */
}

.modalBody::-webkit-scrollbar-thumb {
    background-color: rgba(40,105,69,0.5);    /* color of the scroll thumb */  
}
